body {
  background-color: #0F1A25;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 40px 0;
}

.chat {
  min-height: 830px;
  background-color: #1C2B3A;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.chat__content {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: #3A4A5B 1px solid;
  padding: 16px 16px 0 16px;
}

.chat__controls {
  display: flex;
}

.chat__selectors {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chat__select {
  min-width: 100px;
  width: auto;
  padding-right: 25px;
  background-color: #2A3C4E;
  color: #E6F1FF;
  border: 1px solid #3A4A5B;
  border-radius: 6px;
}

.chat__input {
  background-color: #2A3C4E;
  border: none;
  outline: none;
  color: #B8C2CC;
  font-size: 17px;
  margin-right: 47px;
}

.chat__input::placeholder {
  color: #6B7A8C;
}

.chat__input:focus {
  outline: none;
  border: none;
  background-color: #2A3C4E;
  color: white;
  box-shadow: none;
}

.chat__input:hover {
  color: white;
  outline: none;
  border: none;
  background-color: #2A3C4E;
}

.chat__input:active {
  color: white;
  outline: none;
  border: none;
  background-color: #2A3C4E;
}

.chat__button {
  position: absolute;
  right: 105px;
  top: 61%;
  transform: translateY(-50%);
  width: 35px;
  height: 36px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  background-color: rgb(79 70 229);
}

.chat__button:hover {
  background: #3367d6;
}

.chat__button svg {
  width: 20px;
  height: 20px;
}

.chat__switcher {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 0 10px;
}

.chat__switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 23px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

#sqlSwitcher:checked + .slider {
  background-color: #2196F3;
}

#sqlSwitcher:checked + .slider:before {
  transform: translateX(38px);
}

.labels {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

#sqlSwitcher:checked + .slider .labels {
  content: attr(data-on);
  left: 10px;
  right: auto;
}


/* CHAT */
.chat__messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 0;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  color: #E6F1FF;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word;
  margin: 5px 15px;
  animation: slideUp 0.6s ease-in-out forwards;
}

.bot-message {
  background: rgb(55 65 81);
  align-self: flex-start;
}

.user-message {
  background: rgb(79 70 229);
  align-self: flex-end;
}
